doctype html
head
  title Pug
h1 Here are some action packed books that you can read!

.card
    img(src='https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1529604411l/40604658._SY475_.jpg')
    .card-block
    h4.card-title Jurassic Park
    p.card-text | An astonishing technique for
| recovering and cloning dinosaur DNA
| has been discovered. Now humankind&rsquo;s most
| thrilling fantasies have come true. Creatures extinct
| for eons roam Jurassic Park with their awesome presence and
| profound mystery, and all the world can visit them&mdash;for a price.

.card
    img(src='https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1546071216l/5907.jpg')
    .card-block 
    h4.card-tittle The Hobbit, or There and Back Again
    h2.card-author by J.R.R. Tolkien
    p.card-text | In a hole in the ground there lived a hobbit.
    | Not a nasty, dirty, wet hole, filled with the ends of worms and an oozy smell, 
    | nor yet a dry, bare, sandy hole with nothing in it to sit down on or to eat: it was a hobbit-hole, 
    | and that means comfort.


