doctype html
head
  title Pug
h1 Here are some action packed books that you can read!

  p 1. Jurassic Park
  p
    | An astonishing technique for
    | recovering and cloning dinosaur DNA
    | has been discovered. Now humankind&rsquo;s most
    | thrilling fantasies have come true. Creatures extinct
    | for eons roam Jurassic Park with their awesome presence and
    | profound mystery, and all the world can visit them&mdash;for a price.
  img(src='https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1529604411l/40604658._SY475_.jpg')
