doctype html
head
  title Action
link(rel='stylesheet' type='text/css' href='/css/pug.css')

h1 Here are some action packed books that you can read!

.card
  img(src='https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1529604411l/40604658._SY475_.jpg')
  .card-block
  h3.card-title Jurassic Park
  h2.card-author Michael Crichton
  p.card-text An astonishing technique for recovering and cloning dinosaur DNA has been discovered. Now humankind’s most thrilling fantasies have come true. Creatures extinct for eons roam Jurassic Park with their awesome presence and profound mystery, and all the world can visit them—for a price.
  |Until something goes wrong. . . .
  |In Jurassic Park, Michael Crichton taps all his mesmerizing talent and scientific brilliance to create his most electrifying technothriller.

.card
  img(src='https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1546071216l/5907.jpg')
  .card-block 
  h3.card-tittle The Hobbit, or There and Back Again
  h2.card-author by J.R.R. Tolkien
  p.card-text In a hole in the ground there lived a hobbit. Not a nasty, dirty, wet hole, filled with the ends of worms and an oozy smell, nor yet a dry, bare, sandy hole with nothing in it to sit down on or to eat: it was a hobbit-hole, and that means comfort.
  |Written for J.R.R. Tolkien’s own children, The Hobbit met with instant critical acclaim when it was first published in 1937. 
  |Now recognized as a timeless classic, this introduction to the hobbit Bilbo Baggins, the wizard Gandalf, Gollum, and the spectacular world of Middle-earth recounts of the adventures of a reluctant hero, a powerful and dangerous ring, and the cruel dragon Smaug the Magnificent. The text in this 372-page paperback edition is based on that first published in Great Britain by Collins Modern Classics (1998), and includes a note on the text by Douglas A. Anderson (2001).

.card 
  img(src='https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1586722975l/2767052.jpg')
  .card-block 
  h3.card-tittle The Hunger Games
  h2.card-author by Suzanne Collins
  p.card-text In the ruins of a place once known as North America 
  |lies the nation of Panem, a shining Capitol surrounded by twelve outlying districts. 
  |The Capitol is harsh and cruel and keeps the districts in line by forcing them all to send one boy and one girl between the ages of twelve and eighteen to participate in the annual Hunger Games, a fight to the death on live TV.
  |Sixteen-year-old Katniss Everdeen, who lives alone with her mother and younger sister, regards it as a death sentence when she steps forward to take her sister's place in the Games. But Katniss has been close to dead before—and survival, for her, is second nature. Without really meaning to, she becomes a contender. But if she is to win, she will have to start making choices that weight survival against humanity and life against love. 

.card 
  img(src='https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1298411339l/34.jpg')
  .card-block 
  h3.card-tittle The Fellowship of the Ring
  h2.card-author by J.R.R. Tolkien
  p.card-text One Ring to rule them all, One Ring to find them, One Ring to bring them all and in the darkeness bind them.
  |In ancient times the Rings of Power were crafted by the Elven-smiths, and Sauron, The Dark Lord, forged the One Ring, filling it with his own power so that he could rule all others. But the One Ring was taken from him, and though he sought it throughout Middle-earth, it remained lost to him. After many ages it fell into the hands of Bilbo Baggins, as told in The Hobbit.


.card 
  img(src='https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1579621267l/968.jpg')
  .card-block 
  h3.card-tittle The Da Vinci Code
  h2.card-author by Dan Brown
  p.card-text While in Paris, Harvard symbologist Robert Langdon is awakened by a phone call in the dead of the night. The elderly curator of the Louvre has been murdered inside the museum, his body covered in baffling symbols.
  |As Langdon and gifted French cryptologist Sophie Neveu sort through the bizarre riddles, they are stunned to discover a trail of clues hidden in the works of Leonardo da Vinci—clues visible for all to see and yet ingeniously disguised by the painter.
