doctype html
link(rel='stylesheet' type='text/css' href='/css/style.css')
h1  Fantasy Genre
p  Fantasy is a genre of speculative fiction set in a fictional universe 
h3  Fantasy Genres 
img(src='http://geeksoutafterdark.com/wp-content/uploads/2014/04/x1280542a_d.jpg')
ul
  li  High or epic fantasy 
  li  Low fantasy 
  li Magical realism 
  li  Sword and sorcery 
  li  The Golden Compass 
|     .col-md-4
h3  Fantasy Book List
img(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXDkj9zsXo7DiVlqpG0H_26qfNBPFgpV3_ZQ&usqp=CAU' alt='Fantasy Books')
ul
  li  Harry Potter 
  li  The Lion, The Witch, and the Wardrobe
  li Lord of the Rings
  li  Sword and sorcery
  li  Dark fantasy
  li Fables
  li  Fairy tales
  li Superhero fiction
h1 The Lion, The Witch, and the Wardobe
p
  | &quot;The Lion, the Witch and the Wardrobe is a fantasy novel for children by C. S. Lewis, published by Geoffrey Bles in 1950. It is the first published and best known of seven novels in The Chronicles of Narnia. Among all the author&apos;s books, it is also the most widely held in libraries&quot;