doctype html
head
  title Home page
h1 Welcome to our website!
#container.col
  p
    | If you are here you must be looking for some books that you might find interesting!
  p
    | To look at our selections in your search bar where it should ook like this:
    | &quot;http://localhost:3000/&quot;, after the &quot;/&quot; just do one of these words: action, fantasy, romance or mistery.
