doctype html
head
  title Mistery
h1 Here are some mistery packed books that you can read!

.card 
 img(src='https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1210575114l/803606.jpg')
 .card-block 
 h3.card-tittle A Study In Scarlet: A Sherlock Holmes Murder Mistery 
 h2.card-author  Simon Goodenough (Editor/Adapter), Arthur Conan Doyle, Malcolm Couch (Editor), Martin Chambers (Goodreads Author) (Photographs ), Caroline Bidwell (Contributor )
 p.card-text A collection of facsimiles of Dr. Watson's private papers, including notes, diaries, telegrams, photographs, newspaper clippings, and other clues to assist the reader in solving the mystery of "A Study in Scarlet"

.card 
 img(src='https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1479623493l/33016937.jpg')
 .card-block 
 h3.card-tittle Divine Strength Awakens, Mistery of Qing Shui's Birth
 h2.card-author  I Am Superfluous, Bluefire
 p.card-text A human warrior cultivating the Ancient Strengthening Technique has transcended dimensions and arrived on Kyushu. Together with twelve ravishing beauties with looks that were unmatched in their generation, will he be able to stand on the summit of this world?

This novel is about the main character, named Qing Shui, who transcended dimensions and arrived in the Kyushu continent. 
|Storms of blood and wind, resulting in corpses and bones strewn about are extremely common here. The young warrior Qing Shui forged ahead in his path to cultivate, using 10 years to train himself, only to seek vengeance for the one who had forsaken his mother! On the road, he had a chance encounter with the cold beauty (ice princess) Shi Qing Zhuang, incurring hatred and vengeance from her fiancée – Situ Bu Fan. After entering the Hundred Miles City, Qing Shui got acquainted with a dignified and beautiful lady named Yu He and other Xian Tian Realm cultivators – After which, he willingly invited tribulation on himself, after killing the young master of the Gong Yang Clan because of Yu He, and was forced into a corner. Luckily for Qing Shui, a lady as beautiful as a celestial maiden named Yi Ye Jian Ge rushed back to save him from afar, following which a bloody battle ensued. Can Qing Shui turn danger into safety, averting disaster? And his relationships with the various beautiful ladies, what will it develop into?

.card 
 img(src='https://m.media-amazon.com/images/I/41l02vDN4pL.jpg')
 .card-block 
 h3.card-tittle And Then There Were None
 h2.card-author by Agatha Christie
 p.card-text The story follows ten people who are brought together, for various reasons, to an empty mansion on an island. The mysterious hosts of this strange party are not present, but left instructions for two of the ten to tend the house as the housekeeper and cook. As the days unfold in accordance with the lyrics of a nursery rhyme, each invitee is forced to face the music (literally) and bear the consequences of their troubling pasts, as death will come for them one by one. 

.card 
 img(src='https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1371584712l/2052.jpg')
 .card-block 
 h3.card-tittle The Big Sleep
 h2.card-author by Raymond Chandler
 p.card-text Raymond Chandler’s idea of mystery strays from conventions — for him it’s less about the intricate plot and more about the atmosphere and characters. As such, The Big Sleep is no ordinary story: private eye Philip Marlowe gets hired to investigate the blackmailing of Carmen Sternwood, the second daughter of a wealthy general. The further he digs into this messy business, the more complicated the story gets, as Carmen continues to be blackmailed by others in a web of unexpected relations between the characters. 
 |Chandler’s work is complex: his characters are multi-faceted and his language rich with premonitions of the tragedy about to fall on this family. While the signs he drops are not exactly there to help you find out “who done it”, it will definitely give you a foreboding awareness that makes it hard to put the book down. 

.card 
 img(src='https://m.media-amazon.com/images/I/414FyC8BAuL.jpg')
 .card-block 
 h3.card-tittle Gone girl
 h2.card-author by Gillian Flynn
 p.card-text Perhaps better known by its major motion picture adaptation, Gone Girl is the ultimate mystery puzzle for the modern media age. Devoted wife Amy’s sudden disappearance throws Nick Dunne into a hailstorm of suspicion — from her parents to his neighbours to the investigators, everyone leans towards believing that he is somehow responsible. Nick himself becomes aware of how his wife viewed him, as well as how little he knows of her, when stories of her emerge from friends he’s never heard of. 
 |Even if you’ve failed to keep the media buzz regarding the movie adaptation from spoiling you, the experience of reading the minds of these unreliable narrators is well-worth picking this one up. 